@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e3d7d9;
}

.btn-wsp {
  display: grid;
  place-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  filter: drop-shadow(0px 1px 5px rgb(0 0 0 / 90%));
  bottom: 25px;
  right: 25px;
  border-style: none;
  border-radius: 50%;
  transition: 0.3s ease-in;
  z-index: 100;
}

.container-slider {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-shadow: 0 6px 3px rgba(0, 0, 0, 0.2);
} 

/* .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
  margin: 0 auto;
} */

/* .btn-container {
  position: absolute;
  bottom: 5%; 
  left: 6%;
} */

/* .tittleSliderContainer {
  top: 25%; 
  right: none;
  bottom: none;
  left: 6%;
  position: absolute;
  max-width: 100%;
  color: #fff;
} */

/* .tittleSliderContainer h2{
  font-size: 32px;
  line-height: 46px; 
  font-weight: bold;
  margin: 0
} */


/* .subTittleSliderContainer {
  top: 45%;
  right: none;
  bottom: none;
  left: 6%;
  position: absolute;
  max-width: 500px;
  color: #fff;
} */

/* .subTittleSliderContainer   h3{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
} */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

.active-anim {
  transition: opacity ease-in-out 0.4s;
  opacity: 1;
}

.btn-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(34, 34, 34, 0.287);
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}

.prev {
  top: 50%;
  right: none;
  bottom: none;
  left: 20px;
  transform: translateY(-60%);
  opacity: 0.4;
}

.prev:hover {
  opacity: 1;
}

.next {
  top: 50%;
  right: 20px;
  bottom: none;
  left: none;
  transform: translateY(-60%);
  opacity: 0.4;
}

.next:hover {
  opacity: 1;
}

.container-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  top: none;
  right: none;
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 5px;
  background: #000;
  cursor: pointer;
}

.dot.active {
  background: #847C78;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  /* .container-slider {
    max-width: 100%;
    margin: 10px 0;

  } */
  /* .slide {
    text-align: center;
  } */
 
  .btn-container {
    top: 75%;
    right: 0;
    bottom: none;
    left: 0;
    margin: auto;
  }
/* 
  .tittleSliderContainer {
    top: 25%;
    right: 0;
    bottom: none;
    left: 0;     
    margin: auto;
  } */

  /* .tittleSliderContainer  h2{
    font-size: 24px;
    line-height: 46px;
    font-size: bold;
  } */

  /* .subTittleSliderContainer {
    top:55%;
    right: 0;
    bottom: none;
    left: 0;
    margin: auto;
  } */

  /* .subTittleSliderContainer h3{
    font-size: 18px;
    line-height: 22px;
    font-size: 700;
  } */
} 


.form-container {
  width: 100%;
  display: block; 
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
  max-width: 750px;
}


.button {
  margin-top: 10px;
}

.input-container {
  position: relative;
  margin: 10px 0px 15px 0px;
  /* margin-right: 8%; */
}

.label {
  position: absolute;
  padding: 0 2px;
  left: 10px;
  top: 14px;
  color: #404e4e;
  transition: all 0.2s;
  z-index: 1;
}

.text-input {
  font-family: inherit;
  width: 100%;
  padding: 8px;
  border: 2px solid #EBEBEB;
  color: #404e4e;
  background: #ffffff;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
}

.label::before {
  content: "";
  height: 5px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid #847C78;
}

.text-input:focus + .label,
.text-input:valid + .label,
.filled {
  top: -12px;
  padding: 0 2px;
  color: #847C78;
  font-size: 18px;
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.text-input:focus::placeholder {
  opacity: 1;
  animation-delay: 0.2s;
}

.errorMessage {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #dc3545;
  bottom: -20px;
  margin: 4px;
}

.errorMessage-textArea {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  position: absolute;
  color: #dc3545;
  bottom: -16px;
  margin: 0;
}


/* 

.button {
  position: fixed;
  left: 0px;
  margin: 20px;
  z-index: 2;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #455CE9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger {
  width: 100%;
}

.burger::after,
.burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.burger::after {
  top: -5px;
}

.burger::before {
  top: 5px;
}

.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
} */


.menu {
  height: 100vh;
  background-color: #EBEBEB;
  position: fixed;
  right: 0;
  top: 0;
  color: #847C78;
  z-index: 49;
}

.menu .body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left:50px;
  padding-right:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu .body .nav {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  gap: 12px;
  margin-top: 80px;
}

.menu .body .nav .header {
  color: rgb(153, 153, 153);
  border-bottom: 1px solid rgb(153, 153, 153);
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}

.menu .body .nav a {
  text-decoration: none;
  color: rgb(153, 153, 153);
  font-weight: 300;
  
}
.menu .body .nav a:hover {
  color: #847C78;
  transition: all 0.3s;
}

.menu .footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 10px;
}



.link {
  position: relative;
  display: flex;
  align-items: center;
}

.link .indicator {
  width: 10px;
  height: 10px;
  background-color: #847C78;
  border-radius: 50%;
  position: absolute;
  left: -30px;
}


.svgCurve{
  position: absolute; 
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #EBEBEB;
  stroke: none;
  z-index: 10;
}

.cerrar {
  z-index: 1000;
}

.css-13cymwt-control,
.css-13cymwt-control:focus
 {
  border-radius: 50px !important;
}

