@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #e3d7d9;
}

.form-container {
  width: 100%;
  display: block; 
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
  max-width: 750px;
}


.button {
  margin-top: 10px;
}

.input-container {
  position: relative;
  margin: 10px 0px 15px 0px;
}

.label {
  position: absolute;
  padding: 0 2px;
  left: 10px;
  top: 14px;
  color: #404e4e;
  transition: all 0.2s;
  z-index: 1;
}

.text-input {
  font-family: inherit;
  width: 100%;
  padding: 8px;
  border: 2px solid #EBEBEB;
  color: #404e4e;
  background: #ffffff;
  border-radius: 15px;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
}

.label::before {
  content: "";
  height: 5px;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  z-index: -1;
}

.text-input:focus {
  border: 2px solid #847C78;
}

.text-input:focus + .label,
.text-input:valid + .label,
.filled {
  top: -12px;
  padding: 0 2px;
  color: #847C78;
  font-size: 18px;
}

.text-input::placeholder {
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s;
}

.text-input:focus::placeholder {
  opacity: 1;
  animation-delay: 0.2s;
}

.no-clear::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.no-clear::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}